$primary-color          :   #222222;
$secondary-color        :   #333333;
$main-white-color       :   #FFFFFF;
$secondary-white-color  :   #F7F7F7;
$main-black-color       :   #000000;
$light-grey-color       :   #999999;
$facebook-color         :   #3b5998;
$facebook-hover-color   :   rgba(59,89,152, .2);
$twitter-color          :   #55acee;
$twitter-hover-color    :   rgba(85,172,238, .2);
$linkedin-color         :   #0077b5;
$linkedin-hover-color   :   rgba(0,119,181, .2);
$whatsapp-color         :   #43d854;
$whatsapp-hover-color   :   rgba(67,216,84, .2);
$youtube-color          :   #cd201f;
$youtube-hover-color    :   rgba(205,32,31, .2);
$instagram-color        :   #3f729b;
$instagram-hover-color  :   rgba(63,114,155, .2);
$pinterest-color        :   #bd081c;
$pinterest-hover-color  :   rgba(189,8,28, .2);
